{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 120,
  "tabWidth": 4,
  "bracketSpacing": true,
  "importOrder": [
    "^\\u0000",
    "^(react|recoil)$",
    "^remix",
    "^@?(\\w|/|-)+$",
    "^~/.*",
    "^[./]",
    ".*\\.\\w+$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}